{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
</head>
<body>

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="container">
        <div class="form-container">
            <div class="form">
                <h2 style="text-align:center;">Sign In</h2>
                <br>
                {{ form.non_field_errors }}
                <label>Username:</label>
                {{ form.username }}
                <br><br>
                <label>Password:</label>
                {{ form.password }}
            </div>
            <br>
            <div class="button_container">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>

</body>
</html>


